.idea/
node_modules/
node-debug.log
npm-debug.log
.DS_Store
**/*.swp
**/*.swo
coverage/
.happypack/
.vscode
.history
/build


.justconf

.justconf/
/test/coverage
/node_modules
/lib
*.log

# build output
dist/
dist-ssr/
.vite/

.codefuse/
.venv/